@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=El+Messiri:wght@400;500;600;700&family=Joan&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* COLORS */
:root {
  --bg-color: #f1e5d8;
  --primary-color: #967245;
  --primary-dark: #4c3317;
  --white-color: #ffffff;
}

/*UTILITY CLASSES  & COMMON*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 600;
  /* background-color: var(--bg-color); */
  /* font-family: "Cormorant Garamond", serif; */
  /* font-family: "El Messiri", sans-serif; */
  /* font-family: "Joan", serif; */
  /* font-family: "Quattrocento Sans", sans-serif; */
  /* overflow-x: hidden; */
}

body {
  font-family: "El Messiri", sans-serif;
  margin: 1rem 6rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

.space_btw {
  justify-content: space-between;
}

.align_center {
  align-items: center;
}

.align_end {
  align-items: flex-end;
}

.align_start {
  align-items: flex-start;
}

.wd_10p {
  width: 10%;
}

.wd_20p {
  width: 20%;
}

.wd_36p {
  width: 36.5%;
}

.wd_60p {
  width: 60%;
}

.w_70p {
  width: 70%;
}

.m_auto {
  margin: 2rem auto 0 auto;
}

.fb_52 {
  flex-basis: 52%;
}

.mt_2 {
  margin-top: 2rem;
}

.mt_3 {
  margin-top: 3rem;
}

.mb_7 {
  margin-bottom: 7rem;
}

.ml_4 {
  margin-left: 4rem;
}

.white {
  color: var(--white-color);
}

/* INDIVIDUAL STYLES */
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 3.5rem;
}

.brand_name {
  font-size: 1.5rem;
}

.menu {
  width: 2rem;
  cursor: pointer;
}

header {
  margin: 1.5rem;
  position: relative;
}

.primary_heading {
  font-family: "Cormorant Garamond", serif;

  font-size: 5.6rem;
  color: var(--primary-dark);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.hero_img {
  height: 31rem;
}

.side_txt {
  font-size: 1.2rem;
  line-height: 2rem;
  color: var(--primary-color);
}

.contest {
  margin: 6rem 0;
}

.sub_heading {
  display: flex;
  justify-content: center;
  text-align: left;
  font-size: 3rem;
  font-family: "El Messiri", sans-serif;
  color: var(--primary-dark);
}

.brown1 {
  height: 25rem;
  margin-bottom: 4rem;
}

.brown2 {
  height: 12.5rem;
  margin-left: 0.5rem;
}

.brown_txt {
  text-align: left;
  margin: 0 3rem 3rem 10rem;
}

.brown3 {
  height: 20rem;
}

.red_txt {
  text-align: left;
  margin-top: 7.5rem;
  max-width: 26.5rem;
}

.red1 {
  height: 28rem;
}

.red2 {
  height: 14rem;
  margin-left: 1rem;
}

.red3 {
  margin-left: 6rem;
  height: 17rem;
}

.red4 {
  height: 12.5rem;
  margin-left: 1rem;
}

.white1 {
  height: 16rem;
}

.white3 {
  height: 14rem;
  margin-left: 17rem;
}

.white4 {
  height: 21rem;
}

.white5 {
  height: 26rem;
}

.pink2 {
  height: 15rem;
}

.pink3 {
  height: 23rem;
  margin-left: 11.3rem;
}
